* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
*::-webkit-scrollbar {
    display: none;
}
#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -100vw;
    background-color: rgba(100,100,100,.9);
    z-index: 2;
}
#modal #container {
    background-color: #fff;
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    background:
        url("./background/2.jpg")
        no-repeat
        top left / cover
        ;
    z-index: 1;
}

h2 {
    font-size: 4rem;
    color: #fff;
}

/* ボタンのスタイル */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}
.wrapper .btn {
    position: relative;
    width: calc(100vw/15);
    height: calc(100vw/15);
    color: #fff;
    border: #fff 2px solid;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .btn:hover {
    background-color: #fff;
    color: blue;
    cursor: pointer;
}

.check::before {
    content: "✔︎";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}